
/**Body**/
footer{
text-align:center;
clear:both;
color:#2E8B57;
font-size:1.5em;
font-family: 'Philosopher', cursive;
margin:10px auto;
}


a{
text-decoration:none;
}

a.navi:hover{
color:#708090;
}

nav ul{
list-style:none;
display:inline-block;
}

a.navi{
text-align: center;
margin:2px 3px 3px 3px;
background-color:#fff8dc;
height: 1.5em;
line-height: 1.5em;
width: 17em;
padding:5px;
border: .3em solid;
border-left:  black;
border-bottom: #888888;
border-radius:40px;
text-decoration:none;
color: #8B4513;
font-family: 'Philosopher', sans-serif;
font-size:1.0em;
display:inline-block;
box-shadow: 5px 3px black;
float:left;
}


#nav{
display:inline-block;}
p{
display:inline-block;
}
p{
margin:10px 0 0 15px;
max-width:100%;
display:inline-block;
font-family:'Philosopher', sans-serif;
font-size:1.25em;
}

h2{
margin: 5px 0 0 15px;
margin: 
font-family:'Philosopher', sans-serif;
display:inline-block;
font-size:1.5 em;
color:red;
}
.scheme{
margin: 10px auto;
width:400px;
height:350px;
display:block;
}

.chip{
display:block;
margin: 10px auto;
width:250px;
height:250px;
}

.movie {
display:block;
width:200px;
height:200px;
margin: 10px auto;
}


.research1{
text-decoration:none;
text-align: center;
margin: auto 2px;
background-color:#fff8dc;
height: .2em;
line-height: .5em;
float:right, left;
width: 20em;
padding:7;
border: .05em solid;
border-left: inline-black;
border-bottom: #888888;
border-radius:25px;
text-decoration:none;
color: #8B4513;
font-family: 'Philosopher', sans-serif;
font-size:.9em;
}
.research1:hover{
color:#708090
}
.link{
text-decoration:none;
text-align: center;
margin: auto 2px;
background-color:#fff8dc;
height: 15em;
line-height: 1.3em;
float:right, left;
width: 50em;
padding:7;
border: .1em solid;
border-left:  inline-black;
border-bottom: #888888;
border-radius:25px;
text-decoration:none;
color: #8B4513;
font-family: 'Philosopher', sans-serif;
font-size:1.25em;
}
a.link:hover{
color:#708090;

/**footer**/


